<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/Allproduct.css">

    <title>所有產品</title>
</head>

<body>


    <div>

        <% for (var Item of result) { %>
            <div>
                <div>
                    <div>
                        <img src=" <%= Item.pictureSeat1%> " alt="">
                        <div>
                            <%= Item.productName %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
    </div>




</body>

</html>