<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("import.ejs") %>	
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<%- include("header.ejs") %>
	<%- include("checkoutMain.ejs") %>
	<%- include("footer.ejs") %>
</body>
</html>