<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("import.ejs") %>	
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/flipCard.css">
	<link rel="stylesheet" href="/icon/icofont/icofont.min.css">
</head>
<body>
	<%- include("header.ejs") %>
	<main class="cart">
		<div class="cardAlign">
			<div class="cards" data-picture="sale_1">
				<div class="front">
					<img class="front-face" src="/icon/sale_1.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_2">
				<div class="front">
					<img class="front-face" src="/icon/sale_2.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_3">
				<div class="front">
					<img class="front-face" src="/icon/sale_3.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_4">
				<div class="front">
					<img class="front-face" src="/icon/sale_4.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_4">
				<div class="front">
					<img class="front-face" src="/icon/sale_4.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_4">
				<div class="front">
					<img class="front-face" src="/icon/sale_4.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_4">
				<div class="front">
					<img class="front-face" src="/icon/sale_4.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_4">
				<div class="front">
					<img class="front-face" src="/icon/sale_4.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			<div class="cards" data-picture="sale_4">
				<div class="front">
					<img class="front-face" src="/icon/sale_4.png" alt="Front">
				</div>
				<div class="back">
					<img class="back-face" src="/icon/logo-white.png" alt="Back">
				</div>
			</div>
			
		</div>
	</main>
	<%- include("footer.ejs") %>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="js/flipCard.js"></script>
</body>
</html>