<footer>
	<div class="container-fluid hidden-sm hidden-md hidden-xs"></div>
	<div class="footer flexcenter">
		<div>
			<ul class="footerlist">
				<li class="footeritem">
					<a href="">關於我們</a>
				</li>
				<li class="footeritem">
					<a href="">聯絡我們</a>
				</li>
			</ul>
		</div>
	</div>
</footer>