<header>
		<div class="container-fluid hidden-sm hidden-md hidden-xs"></div>
		<div class="header flexcenter">
			<div class="floatL">
				<a href="">
					<img src="icon/logo-white.png" class="logo-pic">
				</a>
			</div>
			<div class="floatR">
				<a href="" class="icon-box">
					<img src="/icon/user.png" class="icon-pic">
				</a>
				<a href="" class="icon-box">
					<img src="/icon/cart.png" class="icon-pic">
				</a>
			</div>
			<div>
				<ul class="item-bar">
					<li class="itemlist">
						<a href="http://localhost:3000/japan">日本專區</a>
						<ul>
							<li><a href="">偶像專區</a></li>
							<li><a href="">動漫專區</a></li>
						</ul>
					</li>
					<li class="itemlist">
						<a href="http://localhost:3000/korea">韓國專區</a>
					</li>
					<li class="itemlist">
						<a href="">許願清單</a>
					</li>
				</ul>
			</div>
		</div>
	</header>