<header>
	<div class="container-fluid hidden-sm hidden-md hidden-xs"></div>
	<div class="header flexcenter">
		<div class="floatL">
			<a href="http://localhost:3000">
			<a href="/">
				<img src="/icon/logo-white.png" class="logo-pic">
			</a>
		</div>
		<div class="floatR">
			<a  id="loginIcon" href="/login" class="icon-box">
				<img src="/icon/user.png" class="icon-pic">
			</a>
			<a href="http://localhost:3000/cart" class="icon-box">
				<img src="/icon/cart.png" class="icon-pic">
			</a>

			<div class="burger-areas">  
				<label for="switch"  class="icon-box"><img src="/icon/bullet-list.png" class="icon-pic" id="burger-icon"></label>
				<input type="checkbox" id="switch">
				<% if (status =='loggedIn') {%>
				<style>
					#loginIcon{
						display: none;}
				</style>
					<ul class="member-meau">
						<li class="member-list"><a href="/updateuser" class="member-text">變更密碼</a></li> 
						<li class="member-list"><a href="/myform" class="member-text">客服表單</a></li> 
						<li class="member-list"><a href="/customer_feedback" class="member-text">客服紀錄</a></li> 
						<li class="member-list"><a href="/wishList" class="member-text">許願清單</a></li> 
						<li class="member-list"><a href="/logout" class="member-text">登出</a></li> 

		
				<%} else {%>
				<style>
					.burger-areas{
					display: none;}
				</style>	
		
				<%} %>
		

<!-- 					
					<li class="member-list"><a href="" class="member-text">變更密碼</a></li>
					<li class="member-list"><a href="" class="member-text">客服表單</a></li>
					<li class="member-list"><a href="" class="member-text">許願清單</a></li> -->
				</ul>
				</div>
		</div>
		<div class="header-item">
			<ul class="item-bar">
				<li class="itemlist">
					<a href="http://localhost:3000/japan/page1">日本專區</a>
				</li>
				<li class="itemlist">
					<a href="http://localhost:3000/korea/page1">韓國專區</a>
				</li>
				<li class="itemlist">
					<a href="/todowishingPond">許願池</a>
				</li>
			</ul>
		</div>
	</div>
</header>