<header>
	<div class="container-fluid hidden-sm hidden-md hidden-xs"></div>
	<div class="header flexcenter">
		<div class="floatL">
			<a href="http://localhost:3000">
			<a href="/">
				<img src="/icon/logo-white.png" class="logo-pic">
			</a>
		</div>
		<div class="floatR">
			<a href="/login" class="icon-box">
				<img src="/icon/user.png" class="icon-pic">
			</a>
			<a href="http://localhost:3000/cart" class="icon-box">
				<img src="/icon/cart.png" class="icon-pic">
			</a>

			<div class="burger-areas">  
				<label for="switch"  class="icon-box"><img src="/icon/bullet-list.png" class="icon-pic" id="burger-icon"></label>
				<input type="checkbox" id="switch">
				<ul class="member-meau">
					<li class="member-list"><a href="" class="member-text">變更密碼</a></li>
					<li class="member-list"><a href="" class="member-text">客服表單</a></li>
					<li class="member-list"><a href="" class="member-text">許願清單</a></li>
				</ul>
				</div>
		</div>
		<div>
			<ul class="item-bar">
				<li class="itemlist">
					<a href="http://localhost:3000/japan/page1">日本專區</a>
				</li>
				<li class="itemlist">
					<a href="http://localhost:3000/korea/page1">韓國專區</a>
				</li>
				<li class="itemlist">
					<a href="/todowishingPond">許願清單</a>
				</li>
			</ul>
		</div>
	</div>
</header>