<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("import.ejs") %>	
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<%- include("header.ejs") %>
	<main>
		<!-- 公告區 -->
		<div class="Flex-container-banner">
			<div>
				預設為導覽頁籤
				<img src="">
			</div>
		</div>
		<!--商品展示區  -->
		<%- include("home_area.ejs") %>
	</main>
	<%- include("footer.ejs") %>
</body>
</html>