<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">

    <title>沒有霉有的代Go</title>
</head>

<body>

    <!-- header -->
    <div>
        <nav>
            <ul class="flex-nav">
                <% for ( var nationItem of nation ) { %>
                    <li>
                        <%= nationItem.nationName %>
                    </li>
                    <% } %>
            </ul>
        </nav>
    </div>


    <!-- header -->


    <!-- body -->

    <div>

        <% for (var Item of product) { %>
            <div>
                <!-- 類別名稱 -->
                <div>
                    <div>
                        <img src=" <%= Item.pictureSeat1%> " alt="">
                        <div>
                            <%= Item.productName %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
    </div>




</body>

</html>