<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二次元專區</title>
    <link rel="stylesheet" type="text/css" href="韓國專區.css">
</head>


<body>
    <div class="wrapper">
    <!-- header -->
    <header>
        <div class="logo">代購</div>

        <nav calss="navItem">
            <div class="headerNav">
            <ul calss="navMenu">
                <li class="navMenuList"><a href="" calss="navMenuLink" style="color: #FAF9F9;">日本專區</a></li>
                <li class="navMenuList"><a href="" calss="navMenuLink" style="color: #FAF9F9;">韓國專區</a></li>
                <li class="navMenuList"><a href="" calss="navMenuLink" style="color: #FAF9F9;">二次元專區</a></li>
                <li class="navMenuList"><a href="" calss="navMenuLink" style="color: #FAF9F9;">許願專區</a></li>
            </ul>

            <div class="navIcon">
                <ul class="customerMenu">
                    <li class="customerMenuIcon"><a href="" calss="customerMenuKink"><img src="user  (1).png" alt="" ></a> </li>
                    <li class="customerMenuIcon"><a href="" calss="customerMenuKink"><img src="cart.png" alt=""></a> </li>
                </ul>
            </div>

            </div>
        </nav>


    </header>


    <!-- banner -->
    <div calss="bannerArea">
        <div class="bannerImg">
            <img src="image.png" class="bannerPic">
            <a href="" calss="bannerLink"></a>
        </div>
    </div>

    <!-- 延伸選單 -->
    <div>
        <p>首頁 &ensp; > &ensp; 韓國專區</p> 
    </div>

    <!-- 商品區 -->

    <div class="commodity">
        商品區暫定位置
    </div>


    <footer>
        <div class="adminArea">
            <ul calss="offical">
                <li class="footerMenuList"><a href="" calss="footerMenuLink" style="color: #FAF9F9;">關於我們</a></li>
            </ul>
            <ul>
                <li class="footerMenuList"><a href="" calss="footerMenuLink" style="color: #FAF9F9;">會員服務</a></li>
                <li class="footerMenuList"><a href="" calss="footerMenuLink" style="color: #FAF9F9;">購物流程</a></li>
                <li class="footerMenuList"><a href="" calss="footerMenuLink" style="color: #FAF9F9;">訂單查詢</a></li>
                <li class="footerMenuList"><a href="" calss="footerMenuLink" style="color: #FAF9F9;">退換貨服務</a></li>
                <li class="footerMenuList"><a href="" calss="footerMenuLink" style="color: #FAF9F9;">聯絡客服</a></li>
            </ul>
        </div>

    </footer>





    </div>
</body>
</html>