/* *{
	border: 1px solid lightcoral;
} */

/* 通用class */
a {
	font-size: large;
	text-decoration: none;
	font-family: 'Kaisei Tokumin', serif;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.flexcenter {
	position: relative;
	align-items: center;
	justify-content: center;
}

.divCenter {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/* header */
.header {
	height: 80px;
	width: 100%;
	background-color: #545b6e;
	padding: 20px;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.icon-box {
	padding: 10px;
	margin: 5px;
}

.icon-pic {
	width: 40px;
	height: 40px;
}

.logo-pic {
	width: 70px;
	height: 70px;
	margin-top: -15px;
}

.item-bar {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -10px;
}

.item-bar ul {
	z-index: 1;
	/* 優先度 */
	position: absolute;
	list-style: none;
	top: 100%;
	min-width: 180px;
	margin-top: -20px;
	/* 隱藏次選單 */
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* 滑鼠滑入展開次選單 */
.item-bar li:hover > ul {
	display: block;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.item-bar ul li {
	background-color: #545b6e;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

/* .item-bar ul li:hover {
	background-color: #89b0ae;
} */

.itemlist {
	list-style: none;
	display: flex;
	padding: 20px;
}

.itemlist a {
	color: #faf9f9;
}

.itemlist a:hover {
	color: #89b0ae;
}

/* main */
/* main {
	height: calc(100vh - 160px);
} */
/* footer */
.footer {
	height: 80px;
	width: 100%;
	background-color: #545b6e;
	padding: 20px;
}

.footerlist {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -1vh;
}

.footeritem {
	margin: 20px;
	margin-top: -10px;
}

.footeritem a {
	color: #faf9f9;
}

.footeritem a:hover {
	color: #89b0ae;
}

/* banner */

.Flex-container-banner {
	display: flex;
	justify-content: center;
}

/* 商品輪播 */
.container {
	padding: 2px 16px;
}

.flex-container {
	/* height: 50vh; */
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex {
	-webkit-flex: initial;
	flex: initial;
	 width: 25%;
	min-width: 20%;
	padding: 5px; 
}

.carousel-title {
	text-align: center;
	font-weight: bold;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-color: black;
}

.betaSlider-nav-btn {
	background-image: url(/icon/left-arrow.png);
	background-position: center center;
	background-size: contain;
	border: none;
}

.betaSlider-nav-btn {
	background-image: url(/icon/right-arrow.png);
	background-position: center center;
	background-size: contain;
	border: none;
}

.indexline {
	width: 100%;
	margin: 29px 0;
	height: 2px;
	background: #F3F3F3;
}

.picture {
	width: 100%;
	height: 100%;
}

.picture>img {
	width: 15vw;
	height: 15vw;
}

.flo {
	float: left;
}

/* 商品列表 */

.itemList{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

.col-md-3 {
	width :auto;
	height: auto;
	
}

.col-md-3 img{
	width:200px;
	height: 200px;
	background-color: #ccc;
	transition: 0.5s;

}

.itemAct:hover{
	transform:scale(1.1);
	transition: ease-in-out transform .5s;
}