/* 
*{
    border: 1px solid red;
} */
/* header  footer */


.icon-pic{
    width: 40px;
    height: 40px;

}
#user-icon{
    padding: 10px;
    margin: 5px;
}
#cart-icon{
    padding: 10px;
    margin: 5px;
    margin-right: 10px;
}

.item-bar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;


}
.itemlist{
    list-style: none;
    display: flex;
    padding: 20px;

}

.footerlist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footeritem{
    list-style: none;
    display: flex;
    padding: 20px;

}
.flexcenter{
    position: relative;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%; /*外層高度100%*/
    margin: 0;
}
footer{
    height: 50px; /*設定footer本身高度*/
}
.wrapper{
    min-height: 100%;
}

/* banner */

.Flex-container-banner{
    display: flex;
    justify-content: center;
}
/* 商品輪播 */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.flex-container {
    height: 50vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.flex {
	-webkit-flex: initial;
    flex: initial;
	width: 15%;
	min-width: 15%;
}

.carousel-title{
	text-align: center;
}


.carousel-control-next-icon{
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}

.betaSlider-nav-btn {
    background-image: url(/素材圖片/icon/keyboard-left-arrow-button.png);
    background-position: center center;
    background-size: contain;
    border: none;
}

.betaSlider-nav-btn {
    background-image: url(/素材圖片/icon/right-arrow.png);
    background-position: center center;
    background-size: contain;
    border: none;
}
.indexline{
    width: 100%;
    margin: 29px 0;
    height: 2px;
    background: #F3F3F3;

}

.picture{
    width: 10%;
    height: 10%;
}

.flo{
    float: left;
}

.wid{
    width: 100px;
}